html{
    background: radial-gradient(circle at bottom, mistyrose 0, wheat  100%);
    color: teal;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;

    line-height: 1.5em;
    margin: 0;
}

img{
    height: 500px;
    width: auto;
}

a{
    text-decoration: none;
    color: cadetblue;
}
a:hover{
    color: aquamarine;
}
a:active{
    color: bisque;
}

body{
    text-align: center;
}

.Crunchy{
    margin: 50px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}

.box-1{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    /*
    border-right: 5px gray solid;
    border-left: 5px gray solid;
    */
    border: 5px rgb(208, 36, 235, 0.5);
    border-width: 10px;
    border-top-style: solid;


    /* Same as above */
    padding: 20px;

    margin: 20px 0;
}

.categories li{
    padding-bottom: 6px;
    border-top: solid;
    border-bottom: solid;
    list-style-type: emoji-1;
    margin: 20px;
}

@counter-style emoji-1 {
    system: cyclic;
    symbols: "\1F413" "\1F990";
    suffix: " ";
}

/* CSS Code used in Space Background */
.space{
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    /* border: 1px dashed rgb(27, 210, 143); */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.stars1{
    animation: space 120s ease-in-out infinite;
    background-image: element();
    background-image: 
    radial-gradient(
        1px 1px at 25px 5px, white, rgba(255,255,255,0)
    ),
    radial-gradient(
        1px 1px at 50px 25px, white, rgba(255,255,255,0)
    ),
    radial-gradient(
        1px 1px at 125px 20px, white, rgba(255,255,255,0)
    ),
    radial-gradient(
        1.5px 1.5px at 50px 75px, white, rgba(255,255,255,0)
    ),
    radial-gradient(
        2px 2px at 15px 125px, white, rgba(255,255,255,0)
    ),
    radial-gradient(
        2.5px 2.5px at 110px 80px, white, rgba(255,255,255,0)
    );
}
.stars2 {
    animation: space 180s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 75px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}
.stars3 {
    animation: space 240s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 10px 10px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 150px 150px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 60px 170px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5 1.5px at 175px 180px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 195px 95px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 95px 145px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  .stars4 {
    animation: space 300s ease-in-out infinite;
    background-image:
    radial-gradient(
        3px 3px at 105px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 180px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  @keyframes space {
      40% {
          opacity: 0.75;
      }
      50% {
          opacity: 0.25;
      }
      60% {
          opacity: 0.75;
      }
      100% {
          transform: rotate(360deg);
      }
  }

  .container-1{
      margin: 10px;
      padding: 10px;
      background-color: plum;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
